
<!-- メール削除時のモーダルダイアログ -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary-subtle">
                <p class="modal-title h5" id="deleteModalLabel">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>確認
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-bottom-0">
                メールを削除します。よろしいですか？
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" id="confirmDeleteBtn" class="btn btn-danger">はい</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
            </div>
        </div>
    </div>
</div>

