{% extends 'base.html' %}

{% from "_helpers.html" import toggle_received_at_link %}

{% block title %}MailFilter-求人関係メール一覧{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename='js/set_date_placeholder.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='js/reset_form.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='js/save_job_emails_search_conditions.js')}}" type="module"></script>
    <script src="{{url_for('static', filename='js/set_delete_button.js')}}" type="module"></script>
{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="container">

        <!-- タイトル -->
        <div class="d-flex align-items-center mb-4">
            <i class="bi bi-people-fill text-primary fs-3 me-2"></i>
            <h1 class="h3 mb-0">求人関係メール一覧</h1>
        </div>

        <!-- 検索フォーム -->
        <div class="container">
            <form id="searchForm" class="row g-3 mb-5 align-items-end" method="GET" action="{{ url_for('main.list_job_emails') }}">
                <p class="h5 fw-light">検索条件を入力してください</p>
                <div class="col-md-9">
                    <div class="mb-3">
                        {{ form.keyword(id="keyword", class="form-control") }}
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ form.start_date(id="start_date", class="form-control") }}
                        </div>
                        <div class="col-md-6">
                            {{ form.end_date(id="end_date", class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex flex-column justify-content-end mb-3">
                    {{ form.search(id="execute", class="btn btn-success mb-2 w-100") }}
                    <button type="button" id="clear" class="btn btn-warning w-100">クリア</button>
                </div>
            </form>
        </div>
    </div>

    <!-- メール一覧 -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th class="ps-4">{{ toggle_received_at_link("main.list_job_emails", request.args.to_dict()) }}</th>
                <th>内容</th>
                <th>送信元メールアドレス</th>
            </tr>
        </thead>
        <tbody>
            {% for mail in mails %}
            <tr>
                <td  class="px-1 max-width-40">
                    <a href="{{ url_for('main.show_job_email', id=mail.id) }}" class="btn btn-outline-primary btn-sm p-1">詳細</a>
                </td>
                <td class="px-1 max-width-40">
                    <!-- 削除ボタン -->
                    <form id="delete-form-{{ mail.id }}" action="{{ url_for('main.delete_job_email', id=mail.id) }}" method="POST" style="display: none;">
                        {{ form.hidden_tag() }}
                        <input type="hidden" name="_method" value="DELETE">
                        <!-- クエリパラメータをhiddenフォームとして追加 -->
                        {% for key, value in request.args.items() %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                        {% endfor %}
                    </form>
                    <button id="delete-button-{{ mail.id }}" class="btn btn-outline-danger btn-sm p-1">削除</button>
                </td>
                <td class="ps-4">{{mail.received_at.strftime('%Y/%m/%d %H:%M:%S')}}</td>
                <td>{{mail.content| truncate(50, True, end='...')}}</td>
                <td>{{mail.email | truncate(24, True, end='...')}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container-fluid mt-5 mb-2">
        <nav aria-label="Page navigation" class="row align-items-center">
            <div class="col-12 col-md-4 text-start mb-3 mb-md-0">{{ pagination.info }}</div>
            <div class="col-12 col-md-4 text-center mb-3 mb-md-0">{{ pagination.links }}</div>
            <div class="col-12 col-md-4 text-end mb-3 mb-md-0">{{ pagination.page }} / {{ pagination.total_pages }} ページ</div>
        </nav>
    </div>
</div>
{% include '_mail_delete_modal.html' %}
{% endblock %}
