{% extends 'base.html' %}

{% block title %}MailFilter-求人関係メール詳細{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/restore_job_emails_search_conditions.js')}}" type="module"></script>
{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <!-- タイトル -->
    <div class="d-flex align-items-center mb-4">
        <i class="bi bi-people-fill text-primary fs-3 me-2"></i>
        <h1 class="h3 mb-0">求人関係メール詳細</h1>
    </div>
    <div class="card">
        <div class="card-header">NJK記入欄（自由記入） <span class="text-success">※ 100文字まで入力できます</span></div>
        <div class="card-body">
            <p class="card-text">
                <form method="POST" action="{{ url_for('main.update_job_email', id=mail.id) }}">
                    {{ form.hidden_tag() }}
                    {{ form.njk_memo }}
                    {{ form.submit }}
                </form>
            </p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">詳細情報</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><dt>ID</dt><dd>{{mail.id}}</dd></li>
            <li class="list-group-item"><dt>件名</dt><dd>{{mail.subject}}</dd></li>
            <li class="list-group-item"><dt>メールアドレス</dt><dd>{{mail.email}}</dd></li>
            <li class="list-group-item"><dt>本文</dt><dd class="preformatted">{{mail.content}}</dd></li>
            <li class="list-group-item"><dt>受信日時</dt><dd>{{mail.received_at.strftime('%Y/%m/%d %H:%M:%S')}}</dd></li>
        </ul>
    </div>
    <div class="card-footer my-3">
        <a id="backToList" href="{{ url_for('main.list_job_emails') }}" class=" btn btn-outline-primary">一覧に戻る</a>
    </div>
</div>
{% endblock %}
